<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
  </head>
  <body>
    <h1>May Node and Express be with you.</h1>

    <form action="/quotes" method="POST">
      <label>
        Name:
        <input type="text" placeholder="name" name="name" />
      </label>
      <label>
        Quote:
        <input type="text" placeholder="quote" name="quote" />
      </label>
      <button type="submit">Submit</button>
    </form>

    <div>
      <h2> Quotes </h2>
      <ul class="quotes">
        <% for(var i = 0; i < quotes.length; i++) { %>
          <li class="quote">
            <quote-model data-id="<%= quotes[i]._id %>">
              <button class="update-button" onclick="showUpdateForm(this)">Update</button>
              <span><%= quotes[i].name %></span>:
              <span><%= quotes[i].quote %></span>
              <button class="delete-button">Delete</button>
              <div class="update-form" style="display: none">
                <label>
                  Name:
                  <input type="text" placeholder="name" name="name" value="<%= quotes[i].name %>" />
                </label>
                <label>
                  Quote:
                  <input type="text" placeholder="quote" name="quote" value="<%= quotes[i].quote %>" />
                </label>
                <button onclick="updateQuote(this, '<%= quotes[i]._id %>')">Save</button>
              </div>
            </quote-model>
          </li>
        <% } %>
      </ul>
    </div>

    <script src="/main.js"></script>
  </body>
</html>